{% extends "hello/layout.html" %}
{% block title %}
    Blog
{% endblock %}
{% block content %}
    <h2>Blog</h2>

    <p>Page where the blogging is stored. Inside this users will be able to post blogs, all of which include date,time, message, and who the message was posted by. <br>
        Users should be able to create, edit, and delete their blog posts.</p>

        {% if message_list %}
        <table class="message_list">
            <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Time</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            {% for message in message_list %}
                <tr>
                    <td>{{ message.logged_by }}</td>
                    <td>{{ message.log_date | date:'d M Y' }}</td>
                    <td>{{ message.log_date | time:'P' }}</td>
                    <td>{{ message.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No messages have been logged. Post something here!</p>
        <form method="POST" class="log-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Log</button>
        </form>
    {% endif %}

{% endblock %}